<h1>Burgers</h1>

<h2 id="not-eaten-burger">Cats that are not sleepy!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
    <button class="burger-btn" id={{this.id}}>{{this.burger_name}}</button>
    {{/unless}}
  {{/each}}
</ul>

<h2 id ="eaten-burger">=====================</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      <p>{{this.burger_name}}</p>
    {{/if}}
  {{/each}}
</ul>


 

  <form class="create-burger">{{!-- listens to the form --}}
  <h2>Add a Burger</h2>
    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <textarea id ="add-burger">
        
      </textarea>
     <button type="submit" id="add">Add Burger</button>
    </div>
  </form>


  <button type="submit" id="devour">Devour it!!</button>
